datasets
datasets_offline
proc_data
raw_data
.ipynb_checkpoints/
*.pyc
.mypy_cache/
*.synctex.gz
*.fls
*.aux
*.fdb_latexmk
*.log
figures/figure_sigb_10x_grad/fig_10x_grad.png
figures/figure_sigb_10x_grad/fig_10x_grad.pdf
figures/supfig_63x_seg/sup_cell_spore_segment.png
figures/supfig_63x_seg/sup_cell_spore_segment.pdf
figures/figure_bf_movie/bf_movie_main.png
figures/figure_bf_movie/bf_movie_main.pdf
figures/figure_allspore_2xqp_combo/spore_grad_compare.png
figures/figure_allspore_2xqp_combo/spore_grad_compare.pdf
figures/figure_allspore_2xqp_combo/spore_sigb_combo.png
figures/figure_allspore_2xqp_combo/spore_sigb_combo.pdf
.vscode/.ropeproject/config.py
.vscode/.ropeproject/objectdb
*.png
*.pdf
*.tiff
*.mat
*.m~
